.loginPage{
	line-height: 3;
}

.grid{
	
	word-wrap: break-word;
	
}
.gridLargeCol{
	width: 150px;
	height: 60px;
}
.gridSmallCol{
	width: 50px;
}
.gridSmallInputbox{
	width: 50px;
	height: 60px;
}
.bigIcon{
	font-size: 20px;
	border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 30px; 
}
.bigIconGrey{
	font-size: 20px;
	border-radius: 25px;
    background: #c0c0c0;
    padding: 20px; 
    width: 200px;
    height: 30px; 
}
.bigIconRed{
	font-size: 20px;
	border-radius: 25px;
    background: #ff0000;
    padding: 20px; 
    width: 200px;
    height: 30px; 
}
.left-140{
	    padding-left: 140px;
}
.smallIcon{
	font-size: 20px;
	border-radius: 15px;
    background: #ff0000;
    padding: 5px; 
    width: 100px;
    height: 50px; 
}